body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #db7dec, #83bbf6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    background: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
    transition: all 0.3s ease;
  }
  
  h2 {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
  }
  
  label {
    display: block;
    margin-bottom: 6px;
    text-align: left;
    font-size: 14px;
    color: #333;
  }
  
input[type="text"],
input[type="password"],
input[type="email"] {

    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #729df5;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #567de5;
  }
  
  p {
    margin-top: 10px;
    font-size: 13px;
    color: #666;
  }
  
  a {
    text-decoration: none;
    color: #729df5;
  }
  
  a:hover {
    text-decoration: underline;
  }
  /* Botão Hamburguer */
.hamburguer {
  font-size: 30px;
  position: fixed;
  top: 15px;
  left: 15px;
  cursor: pointer;
  z-index: 1001;
  color: white;
  background-color: #1e1e1e;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Botão Hamburguer */
.hamburguer {
  font-size: 30px;
  position: fixed;
  top: 15px;
  left: 15px;
  cursor: pointer;
  z-index: 1001;
  color: white;
  background-color: #1e1e1e;
  padding: 5px 10px;
  border-radius: 5px;
}

.hamburguer {
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  color: white;
  background-color: #333;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Oculto inicialmente */
  width: 250px;
  height: 100%;
  background-color: #111;
  color: white;
  padding-top: 60px;
  transition: left 0.3s;
  z-index: 999;
}

.sidebar.show {
  left: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 20px;
}

.menu-item {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.menu-item:hover {
  text-decoration: underline;
}

.logout {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}



  