<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Painel do Professor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h1>Painel do Professor</h1>
            <form method="POST">
                <label for="username">Username</label>
                <input type="text" name="username" required>

                <label for="senha">Senha</label>
                <input type="password" name="senha" required>

                <button type="submit">Entrar</button>
            </form>
            <a href="#" class="esqueci-senha">Esqueceu a senha?</a>
        </div>
    </div>
</body>
</html>
